{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mb-5">
    <h2>All Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
<!--                <th>Product</th>-->
                <th>Order Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders  %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.get_full_name }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.order_status }}</td>
                    <td><a href="{% url 'Order:order_detail' order.id %}">View Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}