{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<div class="container">
    <h2 class="mt-5">Reset Your Password</h2>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
</body>


{% endblock %}


