{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        <div class="card p-4">
            <h2 class="text-center mb-4">Password Reset Request</h2>
            <p>An email with instructions to reset your password has been sent to your registered email address.</p>
            <p>If you don't receive an email within a few minutes, please check your spam folder.</p>
            <p>Return to <a href="{% url 'Accounts:login' %}">login page</a></p>
        </div>
    </div>
</body>
{% endblock %}


